body {
  font-family: 'poppins';
  font-size: 22px;
}

.navbar-brand {
   font-size: 26px;
}

.btn {
   font-size: 22px;
   background-color: lightgoldenrodyellow;
}

a {
   font-size: 25px;
}

.search-bar__button {
   font-size: 18px;
}

.all-characters, h1 {
   margin: 30px;
}

.img-fluid {
   max-width: 100%;
   max-height: 256px;
}

.main {
  display: block;
}

button {
   margin-bottom: 30px;
}

.character-info {
   padding: 20px;
   font-size: 20px;
}

.modal-body {
   background-color: #fffffa;
}

.modal-header, .modal-footer {
   background-color: #fbfeb2;
   padding: 15px;
}

.footer-button {
   margin: 1%;
}