:root {
    --lightpink: #F6DFEA;
    --teal: #006D69;
    --whiteblue: #E2F0F0;
    --black: #002c26;
    --white: #F2F3F3;
    --font-family: 'Poppins';
    --font-weight: 600;
    --font-weight-large: 900;
    --font-size: 15px;
    --font-size-large: 18px;
    --line-height: 1.6;
 }
 
 body {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    /* Sets the font size to 14px */
    color: var(--teal);
    line-height: var(--line-height);
    /* Sets the line-height to 1.6 */
    background-color: var(--lightpink);
    min-height: 90%;
    margin-bottom: 100px;
 }
 
 css 
 #modal-container {
   display: none;
 }

 #modal-container.is-visible {
   position: fixed;
   padding: 20px;
   box-sizing: border-box;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
 

 /* to show it above other content */
 z-index: 999;

 /* to allow scrolling if the screen is not high enough */
 overflow: auto;

 /* this is used to center the modal */
 display: grid;
 text-align: center;
 }